doctype html
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Card - Christmas 2025
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/card.css")
  body
    .card-container
      .card
        .card-header
          h2.card-title.merry-christmas Merry Christmas 2025
        .card-body
          p.card-content 這是卡片內容區域，可以在這裡放置任何內容。
    script(src="js/bundle.js")
    // script(src="js/snow.js") // 降雪效果暫時停用
    script(src="js/lantern.js")
