// Color Variables
$primary-color = #011b4b
$secondary-color = #003ba1
$text-color = #333
$bg-color = #fff

// Spacing
$spacing-xs = 0.5rem
$spacing-sm = 1rem
$spacing-md = 2rem
$spacing-lg = 3rem

// Breakpoints
$mobile = 768px
$tablet = 1024px
$desktop = 1200px
